

.file-display {
  margin-top: 10px;
  width: 100%; /* Adjust width as needed */
  max-width: 800px; /* Limit maximum width */
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
 
.buttons-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: space-between;
  position: fixed;
  top:55%;
  left: 570px;
  transform: translate(-60%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
 
.button {
  
  margin: 13px;
  width: 370px;
  height: 45px;
  font-size: 12px;
  background-color: #3879b3;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 20px;
 
}
 
.button:hover {
  background-color: #005aab;
}
 

.snippet-container {
  max-height: 100px; /* Set the maximum height for the snippet container */
  overflow-y: auto;  /* Enable vertical scrolling */
  padding-right: 10px; /* Add padding to avoid content being hidden behind the scrollbar */
}